# Git
.git
.gitignore

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Configs
searches/
data/
args.json

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv/
ENV/

# Docs
README.md
*.md

# IDE
.vscode
.idea

.env